
@{
    ViewBag.Title = "Posts";
}

@model IEnumerable<DatabaseTest.Web.Models.ViewModels.PostViewModel>

<div class="d-flex">
    <div class="mr-auto p-2">
        <h2 class="display-4">
            Posts
        </h2>
    </div>
    <div class="ml-auto p-2">
        <a href="~/Post/CreatePost">
            <i class="fa fa-plus-circle fa-3x" style="padding-top: 15px"></i>
        </a>
    </div>
</div>

<hr/>
<br/>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-12" style="padding-bottom: 10px">
                <div class="card">
                    <div class="card-header">
                        Card Header
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">
                            @item.Title
                        </h2>
                        <p class="card-text">
                            @item.Content
                        </p>
                        <a href="#" style="color: deeppink"><i class="fa fa-heart fa-fw"></i></a>
                        <a href="@Url.Action("EditPost", new {id = item.Id})" style="color: saddlebrown">
                            <i class="fa fa-pencil-alt fa-fw"></i>
                        </a>
                        <a href="#" onclick="deleteRequest(@item.Id)" style="color: red"><i class="fa fa-trash-alt fa-fw"></i></a>
                    </div>
                    <div class="card-footer">
                        <p class="text-muted">Created At: @item.CreatedAt</p>
                        @if (!item.CreatedAt.Equals(item.LastModifiedAt))
                        {
                            <p class="text-muted">Edited At: @item.LastModifiedAt</p>
                        }
                    </div>
                </div>
            </div>  
        }
    </div>
</div>

<script type="text/javascript" language="javascript">

    function deleteRequest(id) {
        $.ajax({
            url: 'DeletePost/' + id,
            type: 'DELETE',
            contentType: 'application/json; charset=utf-8',
            success: function (response) { redirect('Post/Index'); }
        });
    }
</script>